openapi: 3.0.1
info:
  title: 'Bamboo Account Management Https: API'
  version: ''
  description: "Account creation enables users to invest on Bamboo. Ensure KYC has been completed and each user’s identity verified before creating a brokerage account.\n\n**Best Practice:** To avoid maintenance fees on inactive accounts, create and fund brokerage accounts **only when users initiate their first trade**. You may collect account details in advance but delay sending the request until they’re ready to buy.\n\n##### Prerequisites\n- **Minimum Age:** 18 years (verified via government-issued ID)\n- **Compliance:** Must meet local investment regulations\n\n##### Document Requirements\n<table>\n  <thead>\n    <tr>\n      <th>Country</th>\n      <th>Primary ID</th>\n      <th>Image Requirements</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Nigeria</th>\n      <td>BVN</td>\n      <td>Passport photo</td>\n    </tr>\n    <tr>\n      <th>Ghana</th>\n      <td>National ID</td>\n      <td>Front & back ID images</td>\n    </tr>\n    <tr>\n      <th>South Africa</th>\n      <td>National ID</td>\n      <td>Front & back ID images</td>\n    </tr>\n  </tbody>\n</table>\n\n**Note:** Images must be in Base64 format. The `front_id_image` and `back_id_image` fields apply only to Ghana and South Africa.\n\n##### Phone Number Format\n- Must be in international format (e.g., +2347083864023)\n- Country code must match user’s residence\n- Used for notifications and account security\n"
servers:
- url: https://powered-by-bamboo-sandbox.investbamboo.com
tags:
- name: 'Https:'
paths:
  https://cscs-banks.investbamboo.com/:
    get:
      tags:
      - 'Https:'
      summary: Supported Banks and Sort Codes for NGX Trades
      description: 'This endpoint provides a list of all supported banks and sort codes by the Nigerian Brokerage Commissions. The bank details  provided are used for sending users their dividends from companies they''ve traded with in the Nigerian market.

        '
      responses:
        '200':
          description: Dictionary response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cscs_banks_and_sortcodes'
        '401':
          description: Token have expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
        '422':
          description: Incomplete Parameters
          content:
            application/json:
              example:
                message: 'Citizenship can''t be blank,

                  Country code can''t be blank'
              schema:
                $ref: '#/components/schemas/ErrorChangesetResponse'
components:
  schemas:
    Unauthorized:
      title: Unauthorized response
      required:
      - message
      type: object
      properties:
        message:
          type: string
          description: Unauthorized/Invalid Token/Token has expired
          example: Invalid client token supplied.
      description: Token is invalid or have expired
    cscs_banks_and_sortcodes:
      title: Supported banks and sortcodes
      type: object
      properties:
        cscs_banks:
          type: array
          description: Arary of object with states_and_lgas for NG account creation
          example:
          - name: Access Bank Nigeria Plc
            sort_code: '044'
          - name: Ecobank Nigeria
            sort_code: '050'
          - name: Enterprise Bank Plc
            sort_code: 084
          - name: Fidelity Bank Plc
            sort_code: '070'
          - name: First Bank of Nigeria Plc
            sort_code: '011'
          - name: First City Monument Bank
            sort_code: '214'
          - name: Guaranty Trust Bank Plc
            sort_code: 058
          - name: Heritage Banking Company Ltd
            sort_code: '030'
          - name: Jaiz Bank
            sort_code: '301'
          - name: Keystone Bank Ltd
            sort_code: 082
          - name: Mainstreet Bank Plc
            sort_code: '014'
          - name: Skye Bank Plc / Polaris Bank
            sort_code: '076'
          - name: Stanbic IBTC Plc
            sort_code: '221'
          - name: Sterling Bank Plc
            sort_code: '232'
          - name: Union Bank Nigeria Plc
            sort_code: '032'
          - name: United Bank for Africa Plc
            sort_code: '033'
          - name: Unity Bank Plc
            sort_code: '215'
          - name: WEMA Bank Plc
            sort_code: '035'
          - name: Zenith Bank International
            sort_code: '057'
          - name: Paralex Bank
            sort_code: '104'
          - name: Lotus Bank Ltd
            sort_code: '601'
          - name: Titan Trust Bank
            sort_code: '102'
          - name: TAJ Bank
            sort_code: '302'
          - name: Coronation Bank
            sort_code: '559'
          - name: Globus Bank
            sort_code: '103'
    ErrorChangesetResponse:
      title: Error changeset response
      required:
      - errors
      - message
      type: object
      properties:
        message:
          type: string
          description: Message why request didn't succeed
          example: Invalid credentials
        errors:
          type: object
          properties: {}
          description: Map of errors
      description: Error response for request which manipulates data
    ResourceNotFound:
      title: Resource not found
      required:
      - message
      type: object
      properties:
        message:
          type: string
          description: Resource not found (an incorrect url may have been used)
          example: Resource Not Found
      description: Error response for when the resource is not found within our data.
x-logo:
  url: bamboo-logo.png
  altText: bamboo logo
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
  - Account Management
- name: Money Movement
  tags:
  - Overview
  - Deposits
  - Withdrawals
- name: US Brokerage Services
  tags:
  - Portfolio Reporting
  - US Securities
  - US Stock Trading
  - US Stock Events
- name: Utilities
  tags:
  - Dictionaries
  - Market Activity
  - Exchange Rate
  - Featured Themes
  - Financial Documents
