openapi: 3.0.1
info:
  title: ''
  version: ''
x-logo:
  url: bamboo-logo.png
  altText: bamboo logo
servers:
  - url: https://powered-by-bamboo-sandbox.investbamboo.com
tags:
  - name: Authentication
    description: >
      Before you start making requests, you’ll need to generate an access token.
      Every request to the API must be authenticated using access tokens and
      user context headers — this ensures secure and authorized access to your
      resources.


      Here are a few quick tips to help you integrate smoothly and keep your
      tokens active:
        - **x-client-token:** A tenant-level access token that expires after 24 hours. You can generate up to 3 tokens per hour.
      - **Refresh Strategy:** Generate a new token before the current one
      expires to keep your requests running without interruption.


      Each endpoint’s required headers are outlined throughout this
      documentation, so you always know what’s needed to make a successful call.
  - name: Account Management
    description: >
      Account creation enables users to invest on Bamboo. Ensure KYC has been
      completed and each user’s identity verified before creating a brokerage
      account.


      **Best Practice:** To avoid maintenance fees on inactive accounts, create
      and fund brokerage accounts **only when users initiate their first
      trade**. You may collect account details in advance but delay sending the
      request until they’re ready to buy.


      ##### Prerequisites

      - **Minimum Age:** 18 years (verified via government-issued ID)

      - **Compliance:** Must meet local investment regulations


      ##### Document Requirements

      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>Primary ID</th>
            <th>Image Requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Nigeria</th>
            <td>BVN</td>
            <td>Passport photo</td>
          </tr>
          <tr>
            <th>Ghana</th>
            <td>National ID</td>
            <td>Front & back ID images</td>
          </tr>
          <tr>
            <th>South Africa</th>
            <td>National ID</td>
            <td>Front & back ID images</td>
          </tr>
        </tbody>
      </table>


      **Note:** Images must be in Base64 format. The `front_id_image` and
      `back_id_image` fields apply only to Ghana and South Africa.


      ##### Phone Number Format

      - Must be in international format (e.g., +2347083864023)

      - Country code must match user’s residence

      - Used for notifications and account security
  - name: Overview
    description: >
      Money movement is the backbone of investment operations, enabling users to
      fund their brokerage accounts and withdraw profits. Understanding the
      settlement process is critical for accurate integration and operational
      transparency.

      ### How Settlement Works

      The settlement process ensures verification, credit/debit updates, and
      proper brokerage processing:

      - **Deposit/Withdrawal Requests:** Notify Bamboo of user intent via our
      deposit and withdrawal endpoints.

      - **Verification:** Bamboo validates the transaction using your webhook
      verification endpoint.

      - **Credit/Debit User:** User accounts are updated once verification is
      successful; events are sent via Google Pub/Sub to confirm status.

      - **Brokerage Processing:** Our settlements team moves funds between
      brokerage and settlement accounts offline.

      - **Funds Settlement:** Actual money movement occurs offline. Engage
      Bamboo’s settlements team to establish procedures.
  - name: Deposits
    description: >
      Deposits fund user brokerage accounts for stock purchases. All deposits
      require verification through your webhook endpoint before funds are
      credited.


      On the <a
      href="#tag/US-Stock-Portfolio/operation/Web.Api.PortfolioController.portfolio">Portfolio
      endpoint</a>, different cash fields serve specific purposes as explained
      below:

      <table>
        <thead>
          <tr>
            <th>Field</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>cash</th>
            <td>Total cash in the user's brokerage account available for investment (buying power). Includes deposits, stock sales, cancelled and rejected trades.</td>
          </tr>
          <tr>
            <th>unsettled_cash</th>
            <td>Funds from stock sales pending settlement; not yet available for withdrawal.</td>
          </tr>
          <tr>
            <th>withdrawal_cash</th>
            <td>Settled funds available for withdrawal from the user brokerage account.</td>
          </tr>
          <tr>
            <th>actual_value</th>
            <td>Total portfolio value, calculated as sum of US stock holdings, unsettled_cash, and cash balance.</td>
          </tr>
        </tbody>
      </table>


      **Note:** Your `withdrawal_cash` and `unsettled_cash` are components
      within your total cash balance. But those fields are used to specifically
      distinguish between cash settled/unsettled for withdrawal.
  - name: Withdrawals
    description: >
      Withdrawals allow users to extract funds from their brokerage accounts
      after successful trades. Understanding the settlement timeline is
      essential.


      #### Settlement Timeline

      - Stock sale proceeds settle at T+1 business day.

      - `unsettled_cash` indicates funds that are pending settlement.

      - Once settled, funds move to `withdrawal_cash` and become available for
      withdrawal.


      Remember that cash represents total funds in the user's brokerage account
      from all sources—deposits, stock sales, cancelled and rejected trades. All
      cash components (`cash`, `unsettled_cash`, `withdrawal_cash`) are
      available under the <a
      href="#tag/Portfolio-Reporting/operation/Web.Api.PortfolioController.portfolio">Portfolio
      endpoint</a>.
  - name: Portfolio Reporting
    description: >
      The user's portfolio provides comprehensive views of investment
      performance, cash positions, and account status. Understanding the
      different cash types and portfolio calculations is essential for
      presenting accurate information to users.


      ##### Key Portfolio Terms

      #### Cash Categories:

      - **cash:** Total cash in the user’s brokerage account available for
      investment (buying power). All funds from deposits, stock sales, and
      cancelled or rejected trades are credited here.

      - **unsettled_cash:** Funds from stock sale are accounted for here,
      pending when they settle into withdrawal_cash

      - **withdrawal_cash:** Settled cash available for withdrawal from a user
      brokerage account. (Funds settle here after successful stock sale)

      - **actual_value:** Total portfolio value—sum of US stock holdings,
      unsettled cash, and cash balance


      #### Performance Metrics:

      - **value:** Current total portfolio value

      - **value_change:** Dollar change from previous close

      - **value_percent_change:** Percentage change from previous close

      - **total_return:** Lifetime gains/losses across all investments

      - **total_invested:** Cumulative amount invested by user
  - name: NG Stock Portfolio
    description: >
      This section provides all the information a tenant needs to know about a
      user's investment portfolio values and general  user performance.
  - name: US Securities
    description: >
      The section provides comprehensive information about available US stocks,
      including real-time pricing, company details, and market data. 


      Stock themes also help users discover investment opportunities based on
      trends, sectors, and investment strategies. See the [Featured Themes
      section](#tag/Featured-Themes) for detailed information about theme-based
      stock discovery and categorization.
  - name: NG Securities
    description: >
      The section provides us endpoints that allows a client to fetch all the
      information pertaining to the NG stocks available on Bamboo. 
  - name: US Stock Trading
    description: >
      Users can buy and sell US securities, with support for multiple order
      types and fractional shares. Understanding order calculations, execution
      timing, and fees is crucial for integration.

      ### Trading Fundamentals

      - **Fractional Shares:** Users can buy/sell portions of expensive stocks
      (e.g., 0.1 shares of a $3,000 stock), with minimum investment of $1 today.
      *Note* that fractional shares are supported for only MARKET orders to
      enable portfolio diversification for users with smaller capital.

      - **Market Hours and Execution:** Bamboo supports trading during US Stock
      extended hours, allowing users to place trades during pre and post market
      sessions alongside the regular trading hours. Orders placed outside
      trading hours wait for market to open and no active session on US market
      holidays, but users are able to still send in their trade requests.

      - **Settlement and Cash Impact:** Trades settle T+1; i.e., trade date + 1
      business days. Buy orders immediately reduce buying power, sale proceeds
      appear as unsettled cash immediately and become withdrawable after T+1,
      while failed orders return funds to buying power instantly.


      <table>
        <thead>
          <tr>
            <th>Order Types</th>
            <th>Behaviours</th>
            <th>Use Cases</th>
            <th>Risks</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Market</td>
            <td>Execute immediately at current market price</td>
            <td>When speed of execution matters more than exact price</td>
            <td>Price may move between order submission and execution</td>
            <td>Immediately during market open</td>
          </tr>
          <tr>
            <td>Limit</td>
            <td>Execute only at specified price</td>
            <td>`Buy` at specific price below current market or `SELL` at a price higher than market price</td>
            <td>May never execute if price doesn't reach limit</td>
            <td>Good Till Canceled (GTC) or specific expiration date (default OF 90 days)</td>
          </tr>
          <tr>
            <td>Stop</td>
            <td>Execute when stock reaches trigger price</td>
            <td>`Buy` at specific price above current market or `SELL` at a price lower than market price</td>
            <td>May never execute if price doesn't reach the set price</td>
            <td>Good Till Canceled (GTC) or specific expiration date (default OF 90 days)</td>
          </tr>
        </tbody>
      </table>


      **NB:** Trading fees apply to all order types, are deducted from the
      user’s cash balance (upfront for buy orders, from proceeds for sell
      orders), and vary based on partnership agreements; use the <a
      href="#tag/US-Stock-Trading/operation/Web.Api.OrderController.calculate_market_order">
      calculate order endpoint </a> to determine exact fees before <a
      href="#tag/US-Stock-Trading/operation/Web.Api.OrderController.place_market_order">
      order placement</a>.
  - name: NG Stock Trading
    description: >
      The stock trading section details all the endpoints needed to calculate
      and make trade orders for all NG stock available  on Bamboo. Please note
      that trade charges are applicable and should be agreed upon with the
      business team. During system setup,  the agreed charges would be applied
      by the integration team. 
  - name: Market Activity
    description: >
      The market activity section provides you with endpoints that return the
      opening and closing times for markets we support, allowing you to check
      when market is open/closed. 


      This endpoint supports **US Stock extended trading hours**, allowing users
      to place trades during pre-market and post-market sessions in addition to
      regular market hours.


      **Response Fields**


      `market_session` - Indicates which market session is currently open:
        - `pre_market` - Pre-market session (4:00 AM to 9:30 AM ET)
        - `core_market` - Regular market hours (9:30 AM - 4:00 PM ET)
        - `post_market` - Post-market session (4:00 PM to 8:00 PM ET)

      Each field returns a boolean value (true if that session is currently
      open, false otherwise).


      `open_date` - Provides Unix timestamps for when each market session opens
      on the current trading day.


      `market_session_timestamp` - Provides Unix timestamps indicating when each
      market session opens for the current day.
  - name: Exchange Rate
    description: >
      The exchange rate section provides you with an endpoint that fetches
      real-time exchange rates effortlessly, enabling  accurate currency
      conversions and financial calculations. 
  - name: Featured Themes
    description: >
      Stocks are grouped into various categories which help users explore and
      filter stocks based on common themes, sectors, or  other criteria. The
      endpoints in this section allow you to retrieve a list of categories that
      group different stocks together  and also view details about these
      categories.
  - name: Financial Documents
    description: >
      Access various financial documents required for user account management,
      tax reporting, and regulatory compliance through secure document retrieval
      endpoints.


      ##### Document Types and Generation

      The system generates three primary document categories to meet regulatory
      requirements and provide users with comprehensive account records.


      **Trade Confirmations:**

      - **Generation:** Generated for users who have engaged in stock trades at
      the end of each trading day

      - **Content:** Trade details, execution prices, fees, settlement dates 

      - **Purpose:** Legal confirmation of executed trades


      **Account Statements:** 

      - **Generation:** Generated at the end of each month

      - **Content:** Portfolio holdings, cash balances, transaction history 

      - **Purpose:** Comprehensive account activity summary


      **Tax Documents:** 

      - **Generation:** Generated once, at the end of each year

      - **Content:** Realized gains/losses, dividend income, tax obligations 

      - **Purpose:** Support user tax filing requirements
  - name: US Stock Events
    description: >-
      Events within the Bamboo ecosystem signifies account or transaction status
      changes. Using Google Cloud Pub/Sub, we notify tenants of status changes
      in operations like brokerage account creation, deposits, withdrawals and
      trades.


      This section outlines the events published to tenants through the Pub/Sub
      mechanism. To integrate this functionality, tenants are expected to
      subscribe to the designated Pub/Sub topic and utilize the provided JSON
      service account file to listen for published messages to ensure receipt of
      events. Please note that our product team will provide the necessary
      Pub/Sub topics and JSON service file during integration.


      To find the right Google Cloud client library to use, refer to [Cloud
      Client Libraries | Cloud
      APIs.](https://cloud.google.com/apis/docs/cloud-client-libraries) 


      ## Brokerage Account Creation

      When a user account is created on the PBB system, a brokerage account is
      also created for the user after the user details are verified, the
      possible statuses for a brokerage account creation request are provided in
      the table below. 


      When these status changes on the user account, events will be triggered.
      The user's account is ready for activities like deposits or placing trades
      when the **Completed** event is triggered. 


      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Description</th>
            <th>Events available</th>
          </tr>
        </thead>
        <tr>
            <td>Accepted</td>
            <td>User's brokerage account details have been received and a request has been sent for account creation.</td>
            <td>Yes</td>
          </tr>
        <tr>
            <td>Completed</td>
            <td>User brokerage account is created and ready for trading</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>


      ```

      {
           event: "brokerage_account_update",
           payload: {
             "status": "Completed",
             "user_id": 12345
           }
         }
      ```

      ## Deposit Event

      To deposit money into your user's brokerage account, a deposit webhook is
      used and the deposit is verified through a service provided by your
      organisation during integration. Refer to the <a
      href="#tag/Deposits">Deposits Section</a> for more details. 


      All deposits are created with a default pending status and transition into
      the final states of the transaction after verification. 


      Deposit transactions status can also be verified or confirmed via a <a
      href="#tag/Deposits/paths/~1api~1tenant~1deposit~1status~1%7Btxref%7D/get">Deposit
      Status Check</a>. The following are the valid transaction status in
      relation to Bamboo. 


      Funds are available for trading when the deposit status is
      **“Settlemented”**.


      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Description</th>
            <th>Events available</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Accepted</td>
            <td>Payment has been received by Bamboo</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Pending</td>
            <td>Awaiting verification from Tenant</td>
            <td>Yes</td>
          </tr>
          <tr>
          <tr>
            <td>Sent to DW</td>
            <td>Deposit was successful sent to brokerage account.</td>
            <td>No</td>
          </tr>
          <td>Settlemented</td>
            <td>Fund has been credited to brokerage account</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Failed</td>
            <td>The transaction exists with the Tenant but some information on their records like currency or amount does not match what we have.</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Deleted</td>
            <td>Reference doesn't exist (unable to verify from Tenant)</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>


      ### Event Structure

      ```

      {
           "event": "deposit_status_update",
           "paylaod": {
             "status": "accepted",
             "description": "USX_DEPOSIT",
             "reference": "TX987654321",
             "source_name": null,
             "currency": "NGN",
             "event": "deposit_status_update",
             "inserted_at": "2025-11-10T17:32:57",
             "updated_at": "2025-11-10T17:32:57",
             "provider": "tenant_username",
             "deposit_type": "instant",
             "payment_channel_id": 1,
             "exchange_rate": "867",
             "fee": "0.0",
             "dollar_fee": "0.0",
             "verified_amount": "0.0",
             "dollar_amount": "0.0",
             "amount_paid": "0.0",
             "dollar_instant_deposit_fee": "0.0",
             "dollar_processing_fee": "0.0",
             "reference_document": null
         }
        }
      ```

      ## Withdrawal Event

      Withdrawals are transactions that take funds out of the user's brokerage
      account. When a withdrawal request is created, it is depicted with a
      Requested status. Once the withdrawal is successfully initiated, Bamboo
      triggers a withdraw event using the payload structure defined below. 


      ### Withdrawal Initiation Event Structure

      ```

      {
           "event": "withdraw",
           "paylaod": {
             "id": 33333,
             "reason": "USX_CAFW",
             "status": "Awaiting Broker",
             "reference": "reference",
             "currency": "NGN",
             "amount": "10000.0",
             "event": "withdraw",
             "inserted_at": "2025-11-21T12:38:43",
             "updated_at": "2025-11-21T12:39:38",
             "bank_address": "address",
             "account_number": "Not provided",
             "additional_instructions": "additional_instructions",
             "bank_code": "code",
             "bank_country": "country",
             "bank_name": "Not provided",
             "bank_state": "state",
             "bank_zip_code": "code",
             "beneficiary_name": "name",
             "intermediary_bank": "bank",
             "intermediary_bank_swift_code": "code",
             "swift_aba_code": "swift_aba_code",
             "fees": "0.0",
             "account_currency": "NGN",
             "exchange_rate_value": "1446.2",
             "bank_fw_id": null,
             "requested_by": "Tenant",
             "brokerage_withdrawal_request_id": "request_id"
         }
        }
      ```


      A second event type "withdraw_status_update" is used to communicate
      changes to a withdrawal’s transaction state. 

      ### Status Update Event Structure

      ```

      {
           event: "withdraw_status_update",
           payload: {
              "account_number": "1234567890",
              "additional_instructions": "Please process the withdrawal for this user",
              "amount": 1500.00,
              "bank_address": "123 Bank Street, Lagos, Nigeria",
              "bank_code": "123456",
              "bank_country": "NG",
              "bank_fw_id": "FW123456",
              "bank_name": "Guaranty Trust Bank",
              "bank_state": "Lagos",
              "bank_zip_code": "100001",
              "beneficiary_name": "Bamboo Global Inc",
              "brokerage_withdrawal_request_id": 987654321,
              "currency": "USD",
              "exchange_rate_value": 0.0027,
              "fees": 25.00,
              "requested_by": "Jane Doe",
              "intermediary_bank": "Intermediary Bank Name",
              "intermediary_bank_swift_code": "IBSWIFT123",
              "reason": "Personal expenses",
              "status": "sent",
              "reference": "WD123456789",
              "swift_aba_code": "SWIFT123456",
              "account_currency": "NGN"
            } 
        }
      ```


      Below are the valid statuses a withdrawal can transition through within
      Bamboo.


      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Description</th>
            <th>Events available</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Awaiting Broker</td>
            <td>Brokerage withdrawal successful initiated.</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Sent</td>
            <td>A.K.A Received From Broker. This means the customer’s brokerage account has been debited and funds credited to the tenant. This indicates a successful user withdrawal and is the only trigger for disbursing value.</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Rejected</td>
            <td>The withdrawal request failed and we couldn’t retrieve funds from the customer’s brokerage account.</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>


      ## Trade Event

      Trade Events


      The process of buying and selling stocks triggers a number of events from
      trade initiation to its fulfillment or rejection. 


      When a trade is successfully created and acknowledged by the broker,
      Bamboo triggers a trade event with the structure shown below.

      ### Successful Trade Creation Event

      ```

      {
        "event": "trade",
        "payload": {
          "status": "New",
          "type": "MARKET",
          "user_id": 11111,
          "side": "BUY",
          "stock_symbol": "TEST",
          "order_id": "TT.test-1234567890"
        }
      }

      ```


      Bamboo additionally sends trade_status_update events to communicate status
      changes as the order transitions through its lifecycle. 


      ### Trade Status Update Event Structure

      ```

      {
           event: "trade_status_update",
           payload: {
              "dollar_fee": 15.00,
              "dw_order_id": "ORD123456789",
              "naira_fee": 12000.00,
              "price_per_share": 50.75,
              "quantity": 100.00,
              "side": "buy",
              "status": "filled",
              "stock_symbol": "AAPL",
              "transaction_value": 5075.00,
              "type": "market",
              "user_currency_fee": 9000.00,
              "user_currency_price_per_share": 45.00,
              "user_currency_transaction_value": 4500.00
            }
         }
      ```


      **NB:** Trade statuses can also be retrieved through an api call at any
      point from the time of placing the order using the <a
      href="#tag/US-Stock-Trading/operation/Web.Api.OrderController.status">FETCH
      Order Status endpoint</a>.


      The following are the set of trade events fired at the different status
      changes. 


      ### Trade Order Statuses & Available Events

      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Description</th>
            <th>Events available</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>New</td>
            <td>The order has been sent to the broker and its received</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Filled</td>
            <td>The order has been filled and should be visible on the Tenant app</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Cancelled</td>
            <td>The order has been canceled because the user canceled the request before it was processed. This can happen when an order is sent at the time the market is closed</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Rejected</td>
            <td>The order could not be executed and so it got rejected.</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>


      ## Dividend Event

      This event is used to communicate when a dividend has been paid for a
      stock that a user owns. See the sample event structure below:


      ### Event Structure

      ```

      {
       "event": "dividend_paid",
       "payload": {
         "amount": 10,
         "stock_symbol": "BPY",
         "stock_name": "Brookfield Property Partners L.P.",
         "user_id": "9283",
         "comment": "BPY dividend, $0.3043/share",
         "market": "US"
         }
       }
      ```
x-tagGroups:
  - name: Authentication
    tags:
      - Authentication
      - Account Management
  - name: Money Movement
    tags:
      - Overview
      - Deposits
      - Withdrawals
  - name: US Brokerage Services
    tags:
      - Portfolio Reporting
      - US Securities
      - US Stock Trading
      - US Stock Events
  - name: Utilities
    tags:
      - Dictionaries
      - Market Activity
      - Exchange Rate
      - Featured Themes
      - Financial Documents
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Generate Access Token
      description: >
        This endpoint generates your access token, referred to as your
        `x-client-token` within Bamboo’s system. 

        The credentials needed to generate it will be provided by the Bamboo
        Team during account setup. 
      operationId: Web.Api.AuthController.oauth
      parameters:
        - name: content-type
          in: header
          description: Acceptable content type
          required: true
          schema:
            type: string
            default: application/json
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          required: true
          schema:
            type: string
            default: en
        - name: app-key
          in: header
          description: >-
            Application key that uniquely identifies a tenant as an API
            consumer.
          example: 1755d3dd-e6b9-4df1-9537-eb9017da70g9
          required: true
          schema:
            type: string
      requestBody:
        description: Tenant Level Authentication Request
        content:
          application/json:
            schema:
              title: Tenant login request
              required:
                - username
                - password
              type: object
              properties:
                username:
                  type: string
                  description: Username
                  example: invest-bamboo
                password:
                  type: string
                  description: Password
                  example: >-
                    32qC6I2U5J-0i73zJDEdapFJvwICJAl1I7ScekqupVfouiAMz_J7obWHI3kuDVOL
              description: POST request body parameters
      responses:
        '200':
          description: Tenant Login Successful
          content:
            application/json:
              schema:
                title: Response
                required:
                  - access_token
                  - expires_in
                type: object
                properties:
                  access_token:
                    type: string
                    required:
                      - access_token
                    description: Tenant access token (x-client-token)
                    example: >
                      eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ikx6aTZoUVRwc2gtS21BNjdzbXdCWiJ9.

                      eyJodHRwczovL2V4YW1wbGUuY29tL2NsYWltIjoiYmFyIiwiaXNzIjoiaHR0cHM6Ly9pbnZlc3RiYW1ib28uYXV0aDAuY29tLyIsInN1YiI6IjZWdUVjV1NFdUZWdGRJM1ExYlliRVV6UGZOVHljTkM4QGNsaWVudHMiLCJhdWQiOiJodHRwczovL3Bvd2VyZWQtYnktYmFtYm9vLXNhbmRib3guaW52ZXN0YmFtYm9vLmNvbS8iLCJpYXQiOjE3NTk1MDU1MzQsImV4cCI6MTc1OTU5MTkzNCwic2NvcGUiOiJyZWFkOmJhbWJvb19kYXRhIGV4dHJhIiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIiwiYXpwIjoiNlZ1RWNXU0V1RlZ0ZEkzUTFiWWJFVXpQZk5UeWNOQzgifQ.

                      F-bR5wEFxtD-3Y93Lzjfi2UY_9V9k8ckGkndhnLa-SXjp9GvitG79MSyUaNahvT6TVmFUw6Us59GhQAltlcETPoBk3wF934FbfGyofAPzsJ6j2mLIHY2YH-l4KO7_ZA9KAPeh8lGN24R5ZMLuDFGjbteNcHp_rCba1KhTYA_EJIL8p2zYsfYn72PAMb0pWUb5v9YC_HYNf95Q5bNHp0W0m7ZI21VwPVD0TRAazT931xCkF4d0oukvEmGkZ0ns8u1VxsZ0b2nUzV0K1YL6nBn68lg8b7lX7tLMReGUCxE_qsfI1vr0WYvQxCrmvjUsMFrDvW5oDlASa25WOcxYDWweQ
                  expires_in:
                    type: string
                    description: Token expiration time in seconds
                    example: 86400
                description: Result of POST request on tenant login
        '401':
          description: Invalid app key supplied
          content:
            application/json:
              schema:
                title: Unauthorized response
                required:
                  - message
                type: object
                properties:
                  message:
                    type: string
                    description: Unauthorized/Invalid Token
                    example: Invalid app key supplied
                description: Token is invalid or has expired
        '422':
          description: Incorrect Parameters
          content:
            application/json:
              schema:
                title: Error changeset response
                required:
                  - errors
                  - message
                type: object
                properties:
                  message:
                    type: string
                    required: true
                    description: Message why request didn't succeed
                    example: Wrong username or password
                description: Error response for request which manipulates data
      x-codegen-request-body-name: body
  /api/v2/one_step_registration:
    post:
      tags: null
      summary: Create New User
      operationId: Web.Api.RegisterController.registration_step
      description: >
        This endpoint combines all the registration steps into a single API
        endpoint. To use this endpoint, you have to provide all 

        fields in the defined payload, and also ensure that the user’s ID has
        been verified. Please note that you are required to 

        subscribe to at least one market on user's first account activation. 


        A <a href="#tag/Dictionaries"> dictionary endpoint </a> is provided
        below to give insight into all the questions and acceptable 

        values for the fields within the payload.
      parameters:
        - name: content-type
          in: header
          description: Acceptable content type
          example: application/json
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Register credentials. (Provide details to subscribe to at least one
          market)
        content:
          application/json:
            schema:
              title: Register request body
              required:
                - basic_info
                - verified_identity_info
              type: object
              properties:
                basic_info:
                  type: object
                  title: User basic info
                  required:
                    - citizenship
                    - city
                    - country_code
                    - date_of_birth
                    - email
                    - first_name
                    - gender
                    - last_name
                    - phone_number
                    - province
                    - postal_code
                    - residence_country_code
                    - surname
                  properties:
                    residence_country_code:
                      type: string
                      description: '''GHA'' for Ghana, ''NGA'' for Nigeria and ''KEN'' for Kenya'
                      example: NGA
                    province:
                      type: string
                      description: Province
                      example: Lagos State
                    postal_code:
                      type: string
                      description: Postal code
                      example: '100001'
                    referral_code:
                      type: string
                      description: Referral code
                      example: '113792'
                    phone_number:
                      type: string
                      description: Phone number
                      example: '+2347083864023'
                    last_name:
                      type: string
                      description: Last Name
                      example: Doe
                    gender:
                      type: string
                      description: 'Gender options: Man/Woman'
                      example: Man
                    first_name:
                      type: string
                      description: First Name
                      example: John
                    email:
                      type: string
                      description: Email
                      example: johndoe@gmail.com
                    date_of_birth:
                      type: string
                      description: Date in format YYYY-MM-DD
                      example: '1927-02-19'
                    country_code:
                      type: string
                      description: 'Country Code: `NGA`, `USA`'
                      example: NGA
                    city:
                      type: string
                      description: Residence City
                      example: Lagos
                    citizenship:
                      type: string
                      description: Citizenship
                      example: Nigerian
                verified_identity_info:
                  type: object
                  title: User verified identity info
                  required:
                    - address
                    - city
                    - date_of_birth
                    - document_type
                    - email
                    - expiration_date
                    - full_name
                    - gender
                    - identifier
                    - image
                    - front_id_image
                    - back_id_image
                    - phone_number
                    - residence_country
                    - state
                  properties:
                    address:
                      type: string
                      description: address
                      example: 22 Babatunde Anjous Lekki
                    city:
                      type: string
                      description: City
                      example: Lekki
                    date_of_birth:
                      type: string
                      description: User date of birth
                      example: 1927/02/19
                    document_type:
                      type: string
                      description: Identification document type
                      example: BVN
                    email:
                      type: string
                      description: User email
                    expiration_date:
                      type: string
                      description: ID expiration date
                      example: 2026/10/10
                    full_name:
                      type: string
                      description: User full name
                      example: John Doe
                    gender:
                      type: string
                      description: 'Gender options: Man/Woman'
                      example: Man
                    identifier:
                      type: string
                      description: Identifier
                      example: '22488743663'
                    image:
                      type: string
                      description: >-
                        A passport photograph of the user. (Format required is
                        Base64)
                      example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9gA...
                    front_id_image:
                      type: string
                      description: >-
                        Front page of a user's Identity document. (Apllicable to
                        Ghana and SA accounts only. Format required is Base64)
                      example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9gA...
                    back_id_image:
                      type: string
                      description: >-
                        Back page of a user's Identity document. (Apllicable to
                        Ghana and SA accounts only. Format required is Base64)
                      example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9gA...
                    phone_number:
                      type: string
                      description: User phone number
                      example: '+2347083864023'
                    residence_country:
                      type: string
                      description: User residence country
                      example: NGA
                    state:
                      type: string
                      description: State
                      example: Lagos
                usx_market_info:
                  type: object
                  title: US Market Info
                  properties:
                    affiliation_info:
                      type: object
                      title: Affiliation info
                      properties:
                        director_of:
                          type: string
                          required: false
                          description: >-
                            If no, send null. If yes, please list the company
                            name and its ticker symbol.
                          example: ''
                        broker:
                          type: boolean
                          description: If no, send false. If yes, send true
                          example: false
                    brokerage_account_info:
                      type: object
                      title: Brokerage account info
                      required:
                        - company
                        - employment_type
                        - experience
                        - goal
                        - liquid
                        - marital_status
                        - net_worth
                        - position
                        - risk_tolerance
                        - yearly_income
                        - employment_status
                        - source_of_wealth
                      properties:
                        employment_status:
                          type: string
                          description: Employment Status
                          example: SELF_EMPLOYED
                        yearly_income:
                          type: integer
                          description: Yearly Income
                          example: 12500
                        source_of_wealth:
                          type: string
                          description: Source of wealth
                          example: COMPANY
                        risk_tolerance:
                          type: string
                          description: Risk Tolerance
                          example: LOW
                        position:
                          type: string
                          description: Position
                          example: AUDITOR
                        net_worth:
                          type: integer
                          description: Net Worth
                          example: 62500
                        marital_status:
                          type: string
                          description: Martial Status
                          example: MARRIED
                        liquid:
                          type: integer
                          description: User's Liquidity Amount
                          example: 12500
                        goal:
                          type: string
                          description: Goal
                          example: FREQUENT
                        experience:
                          type: string
                          description: Experience
                          example: NONE
                        employment_type:
                          type: string
                          description: Employment Type
                          example: AGRICULTURE
                        company:
                          type: string
                          description: Company
                          example: Phil Technologies LTD.
                ngx_market_info:
                  type: object
                  title: NGX Market Info
                  properties:
                    local_govt:
                      type: string
                      required: false
                      description: Input user state of origin
                      example: Delta
                    city:
                      type: string
                      required: false
                      description: Input user LGA
                      example: Warri North
                    address1:
                      type: string
                      required: false
                      description: Input user resident address
                      example: 520 Ettie Courts
                    mother_maiden_name:
                      type: string
                      required: false
                      description: Mother's maiden name
                      example: Christy
                    next_of_kin_phone_number:
                      type: string
                      required: false
                      description: Next of kin phone number
                      example: Delta
                    next_of_kin_first_name:
                      type: string
                      required: false
                      description: Next of kin first name
                      example: John
                    next_of_kin_last_name:
                      type: string
                      required: false
                      description: Next of kin last name
                      example: Doe
                    account_number:
                      type: string
                      required: true
                      description: Account number for processing Dividends
                      example: '0735904459'
                    account_name:
                      type: string
                      description: Account Name
                      example: John Doe
                    destination_branch_code:
                      type: string
                      description: Branch Sort Code for the account details provided
                      example: '044'
                    success:
                      type: boolean
                      description: Success status
                      example: true
        required: true
      responses:
        '200':
          description: Account created
          content:
            application/json:
              schema:
                title: Account info
                required:
                  - expiration_time
                  - jwt
                  - refresh_token
                  - user
                type: object
                properties:
                  expiration_time:
                    type: integer
                    description: expiration time
                    example: 1697532406
                  jwt:
                    type: string
                    description: Bearer `jwt`
                    example: >-
                      eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ3ZWIiLCJleHAiOjE2OTc1MzI0MDYsImlhdCI6MTY5NDk0MDQwNiwiaXNzIjoid2ViIiwianRpIjoiMTE5MGRjMDEtZjQxNS00NmQ3LWFjOTctYzM5M2Y2MWEzYWJjIiwibmJmIjoxNjk0OTQwNDA1LCJyZXNpZGVuY2VfY291bnRyeSI6Ik5HQSIsInN1YiI6NTc3MSwidHlwIjoiYWNjZXNzIn0.GN3THXBJPynv0BcKuWKc84UHexAD22iGtO8A7kSjR92VKxLaiXxz0bDC-CEa8pVKum3oVwjjdRdAXeJL6c4Tsw
                  refresh_token:
                    type: string
                    description: Bearer refresh token
                    example: >-
                      eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ3ZWIiLCJleHAiOjE2OTczNTk2MDYsImlhdCI6MTY5NDk0MDQwNiwiaXNzIjoid2ViIiwianRpIjoiYWQ4MDA2MzMtMWU4Ny00MGQ0LWFkMTMtNzc4YjY0M2JlNWQwIiwibmJmIjoxNjk0OTQwNDA1LCJyZXNpZGVuY2VfY291bnRyeSI6Ik5HQSIsInN1YiI6NTc3MSwidHlwIjoicmVmcmVzaCJ9.a5Vn2ApDrDBnroDk-7n3neJOuZPDOJxSP29V85rej_eKx4w0JiJ112-tghkSi3xijf0RSkw_AeVq-9sS7bjr0w
                  user:
                    title: Response
                    required:
                      - application_id
                      - bvn_api_fail
                      - date_of_birth
                      - email
                      - first_name
                      - full_name
                      - id
                      - last_name
                      - name
                      - phone_number
                      - registration_step
                      - surname
                    type: object
                    properties:
                      application_id:
                        type: integer
                        description: User's application ID
                        example: 50083181
                      bvn_api_fail:
                        type: boolean
                        description: Field only if BVN api fails
                        example: false
                      date_of_birth:
                        type: string
                        description: User date of birth
                        example: '1927-02-19'
                      email:
                        type: string
                        description: User email
                        example: johndoe@gmail.com
                      first_name:
                        type: string
                        description: User first name
                        example: John
                      full_name:
                        type: string
                        description: User full name
                        example: John Doe
                      id:
                        type: integer
                        description: User's id
                        example: 4101
                      last_name:
                        type: string
                        description: User last name
                        example: Doe
                      name:
                        type: string
                        description: User first name
                        example: John
                      phone_number:
                        type: string
                        description: User phone number
                        example: '+2347083864023'
                      registration_step:
                        type: string
                        description: User's next registration step
                        example: Pending review
                      surname:
                        type: string
                        description: User surname
                        example: Doe
        '401':
          description: Token has expired or invalid token
          content:
            application/json:
              schema:
                title: Unauthorized response
                required:
                  - message
                type: object
                properties:
                  message:
                    type: string
                    description: Unauthorized/Invalid Token
                description: Token is invalid or have expired
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
  /api/one_step_registration:
    post:
      tags:
        - Account Management
      summary: Create New User
      operationId: Web.Api.RegisterController.registration_step
      description: >
        This single endpoint helps you create brokerage accounts for your users.
        The required data below are used to determine user trading eligibility
        and are **required by US regulations**:

        - **basic_info:** Personal details, contact information, residence

        - **verified_identity_info:** Government ID verification data

        - **affiliation_info:** Professional associations, director roles

        - **brokerage_account_info:** Investment profile required to confirm US
        trading eligibility


        A [dictionary endpoint](https://docs.investbamboo.com/#tag/Dictionaries)
        is provided below to give insight into all the questions and acceptable 

        values for the fields within the payload.


        Add `"extended_hours_opt_in"`: `"REQUESTED"` field to the request schema
        under brokerage_account_info to enable your users trade during extended
        hours.
      parameters:
        - name: content-type
          in: header
          description: Acceptable content type
          example: application/json
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Register credentials. (Provide details to subscribe to at least one
          market)
        content:
          application/json:
            schema:
              title: Register request body
              required:
                - basic_info
                - verified_identity_info
                - affiliation_info
                - brokerage_account_info
              type: object
              properties:
                basic_info:
                  type: object
                  title: User basic info
                  required:
                    - citizenship
                    - city
                    - country_code
                    - date_of_birth
                    - email
                    - first_name
                    - gender
                    - last_name
                    - phone_number
                    - province
                    - postal_code
                    - residence_country_code
                    - surname
                  properties:
                    residence_country_code:
                      type: string
                      description: '''GHA'' for Ghana, ''NGA'' for Nigeria and ''KEN'' for Kenya'
                      example: NGA
                    province:
                      type: string
                      description: Province
                      example: Lagos State
                    postal_code:
                      type: string
                      description: Postal code
                      example: '100001'
                    referral_code:
                      type: string
                      description: Referral code
                      example: '113792'
                    phone_number:
                      type: string
                      description: Phone number
                      example: '+2347083864023'
                    last_name:
                      type: string
                      description: Last Name
                      example: Doe
                    gender:
                      type: string
                      description: 'Gender options: Man/Woman'
                      example: Man
                    first_name:
                      type: string
                      description: First Name
                      example: John
                    email:
                      type: string
                      description: Email
                      example: johndoe@gmail.com
                    date_of_birth:
                      type: string
                      description: Date in format YYYY-MM-DD
                      example: '1927-02-19'
                    country_code:
                      type: string
                      description: 'Country Code: `NGA`, `USA`'
                      example: NGA
                    city:
                      type: string
                      description: Residence City
                      example: Lagos
                    citizenship:
                      type: string
                      description: Citizenship
                      example: Nigerian
                verified_identity_info:
                  type: object
                  title: User verified identity info
                  required:
                    - address
                    - city
                    - date_of_birth
                    - document_type
                    - email
                    - expiration_date
                    - full_name
                    - gender
                    - identifier
                    - image
                    - front_id_image
                    - back_id_image
                    - phone_number
                    - residence_country
                    - state
                  properties:
                    address:
                      type: string
                      description: address
                      example: 22 Babatunde Anjous Lekki
                    city:
                      type: string
                      description: City
                      example: Lekki
                    date_of_birth:
                      type: string
                      description: User date of birth
                      example: 1927/02/19
                    document_type:
                      type: string
                      description: Identification document type
                      example: BVN
                    email:
                      type: string
                      description: User email
                    expiration_date:
                      type: string
                      description: ID expiration date
                      example: 2026/10/10
                    full_name:
                      type: string
                      description: User full name
                      example: John Doe
                    gender:
                      type: string
                      description: 'Gender options: Man/Woman'
                      example: Man
                    identifier:
                      type: string
                      description: Identifier
                      example: '22488743663'
                    image:
                      type: string
                      description: >-
                        A passport photograph of the user. (Format required is
                        Base64)
                      example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9gA...
                    front_id_image:
                      type: string
                      description: >-
                        Front page of a user's Identity document. (Apllicable to
                        Ghana and SA accounts only. Format required is Base64)
                      example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9gA...
                    back_id_image:
                      type: string
                      description: >-
                        Back page of a user's Identity document. (Apllicable to
                        Ghana and SA accounts only. Format required is Base64)
                      example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9gA...
                    phone_number:
                      type: string
                      description: User phone number
                      example: '+2347083864023'
                    residence_country:
                      type: string
                      description: User residence country
                      example: NGA
                    state:
                      type: string
                      description: State
                      example: Lagos
                affiliation_info:
                  type: object
                  title: Affiliation info
                  properties:
                    director_of:
                      type: string
                      required: false
                      description: >-
                        If no, send null. If yes, please list the company name
                        and its ticker symbol.
                      example: ''
                    broker:
                      type: boolean
                      description: If no, send false. If yes, send true
                      example: false
                brokerage_account_info:
                  type: object
                  title: Brokerage account info
                  required:
                    - company
                    - employment_type
                    - experience
                    - goal
                    - liquid
                    - marital_status
                    - net_worth
                    - position
                    - risk_tolerance
                    - yearly_income
                    - employment_status
                    - source_of_wealth
                  properties:
                    employment_status:
                      type: string
                      description: Employment Status
                      example: SELF_EMPLOYED
                    yearly_income:
                      type: integer
                      description: Yearly Income
                      example: 12500
                    source_of_wealth:
                      type: string
                      description: Source of wealth
                      example: COMPANY
                    risk_tolerance:
                      type: string
                      description: Risk Tolerance
                      example: LOW
                    position:
                      type: string
                      description: Position
                      example: AUDITOR
                    net_worth:
                      type: integer
                      description: Net Worth
                      example: 62500
                    marital_status:
                      type: string
                      description: Martial Status
                      example: MARRIED
                    liquid:
                      type: integer
                      description: User's Liquidity Amount
                      example: 12500
                    goal:
                      type: string
                      description: Goal
                      example: FREQUENT
                    experience:
                      type: string
                      description: Experience
                      example: NONE
                    employment_type:
                      type: string
                      description: Employment Type
                      example: AGRICULTURE
                    company:
                      type: string
                      description: Company
                      example: Phil Technologies LTD.
                    extended_hours_opt_in:
                      type: string
                      default: REQUESTED
                      description: >
                        Optional field. Include `"extended_hours_opt_in":
                        "REQUESTED"` in the payload

                        to allow the user to trade during extended hours. Omit
                        this field if extended hours trading is not required.
            required: true
      responses:
        '200':
          description: Account created
          content:
            application/json:
              schema:
                title: Account info
                required:
                  - expiration_time
                  - jwt
                  - refresh_token
                  - user
                type: object
                properties:
                  expiration_time:
                    type: integer
                    description: expiration time
                    example: 1697532406
                  jwt:
                    type: string
                    description: Bearer `jwt`
                    example: >-
                      eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ3ZWIiLCJleHAiOjE2OTc1MzI0MDYsImlhdCI6MTY5NDk0MDQwNiwiaXNzIjoid2ViIiwianRpIjoiMTE5MGRjMDEtZjQxNS00NmQ3LWFjOTctYzM5M2Y2MWEzYWJjIiwibmJmIjoxNjk0OTQwNDA1LCJyZXNpZGVuY2VfY291bnRyeSI6Ik5HQSIsInN1YiI6NTc3MSwidHlwIjoiYWNjZXNzIn0.GN3THXBJPynv0BcKuWKc84UHexAD22iGtO8A7kSjR92VKxLaiXxz0bDC-CEa8pVKum3oVwjjdRdAXeJL6c4Tsw
                  refresh_token:
                    type: string
                    description: Bearer refresh token
                    example: >-
                      eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ3ZWIiLCJleHAiOjE2OTczNTk2MDYsImlhdCI6MTY5NDk0MDQwNiwiaXNzIjoid2ViIiwianRpIjoiYWQ4MDA2MzMtMWU4Ny00MGQ0LWFkMTMtNzc4YjY0M2JlNWQwIiwibmJmIjoxNjk0OTQwNDA1LCJyZXNpZGVuY2VfY291bnRyeSI6Ik5HQSIsInN1YiI6NTc3MSwidHlwIjoicmVmcmVzaCJ9.a5Vn2ApDrDBnroDk-7n3neJOuZPDOJxSP29V85rej_eKx4w0JiJ112-tghkSi3xijf0RSkw_AeVq-9sS7bjr0w
                  user:
                    title: Response
                    required:
                      - application_id
                      - bvn_api_fail
                      - date_of_birth
                      - email
                      - first_name
                      - full_name
                      - id
                      - last_name
                      - name
                      - phone_number
                      - registration_step
                      - surname
                    type: object
                    properties:
                      application_id:
                        type: integer
                        description: User's application ID
                        example: 50083181
                      bvn_api_fail:
                        type: boolean
                        description: Field only if BVN api fails
                        example: false
                      date_of_birth:
                        type: string
                        description: User date of birth
                        example: '1927-02-19'
                      email:
                        type: string
                        description: User email
                        example: johndoe@gmail.com
                      first_name:
                        type: string
                        description: User first name
                        example: John
                      full_name:
                        type: string
                        description: User full name
                        example: John Doe
                      id:
                        type: integer
                        description: User's id
                        example: 4101
                      last_name:
                        type: string
                        description: User last name
                        example: Doe
                      name:
                        type: string
                        description: User first name
                        example: John
                      phone_number:
                        type: string
                        description: User phone number
                        example: '+2347083864023'
                      registration_step:
                        type: string
                        description: User's next registration step
                        example: Pending review
                      surname:
                        type: string
                        description: User surname
                        example: Doe
        '401':
          description: Token has expired or invalid token
          content:
            application/json:
              schema:
                title: Unauthorized response
                required:
                  - message
                type: object
                properties:
                  message:
                    type: string
                    description: Unauthorized/Invalid Token
                description: Token is invalid or have expired
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
  /api/dictionary:
    get:
      tags:
        - Account Management
      summary: Dictionary
      description: >
        Returns acceptable values for account creation fields, ensuring data
        validation and compliance with brokerage requirements.


        **Categories:**

        - Employment Information – Status, type, industry, position.

        - Investment Profile – Experience, risk tolerance, goals.

        - Financial Information – Assets, source of wealth, marital status.


        **Usage:** 

        - Values are case-sensitive.

        - Validate user inputs against dictionary before account creation.

        - Update dictionary cache periodically.
      operationId: Web.Api.RegisterController.dictionary
      responses:
        '200':
          description: Dictionary response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictionaryResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
  /api/tenant/brokerage_accounts:
    post:
      tags: null
      summary: Market Activation for Existing Users
      description: >
        In a situation where a user is interested in a market that was not
        originally activated during their original account 

        creation, this endpoint is used to activate the desired market for that
        existing user. 


        It is important to note that if a user has a market already activated,
        the payload for that market should not be passed.
      parameters:
        - name: content-type
          in: header
          description: Acceptable content type
          example: application/json
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API consumer token
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Register credentials (Pass details for only the market the user is
          interested in activating)
        content:
          application/json:
            schema:
              title: Register request
              type: object
              properties:
                ngx_market_info:
                  type: object
                  title: NGX Market Info
                  properties:
                    local_govt:
                      type: string
                      required: false
                      description: Input user state of origin
                      example: Delta
                    city:
                      type: string
                      required: false
                      description: Input user LGA
                      example: Warri North
                    address1:
                      type: string
                      required: false
                      description: Input user resident address
                      example: 520 Ettie Courts
                    mother_maiden_name:
                      type: string
                      required: false
                      description: Mother's maiden name
                      example: Sarah
                    next_of_kin_phone_number:
                      type: string
                      required: false
                      description: Next of kin phone number
                      example: Delta
                    next_of_kin_first_name:
                      type: string
                      required: false
                      description: Next of kin first name
                      example: Bella
                    next_of_kin_last_name:
                      type: string
                      required: false
                      description: Next of kin last name
                      example: Doe
                usx_market_info:
                  type: object
                  title: NGX Market Info
                  properties:
                    affiliation_info:
                      type: object
                      title: Affiliation info
                      properties:
                        director_of:
                          type: string
                          required: false
                          description: >-
                            If no, send null. If yes, please list the company
                            name and its ticker symbol.
                          example: ''
                        broker:
                          type: boolean
                          description: If no, send false. If yes, send true
                          example: false
                    brokerage_account_info:
                      type: object
                      title: Brokerage account info
                      required:
                        - company
                        - employment_type
                        - experience
                        - goal
                        - liquid
                        - marital_status
                        - net_worth
                        - position
                        - risk_tolerance
                        - yearly_income
                        - employment_status
                        - source_of_wealth
                      properties:
                        employment_status:
                          type: string
                          description: Employment Status
                          example: SELF_EMPLOYED
                        yearly_income:
                          type: integer
                          description: Yearly Income
                          example: 12500
                        source_of_wealth:
                          type: string
                          description: Source of wealth
                          example: COMPANY
                        risk_tolerance:
                          type: string
                          description: Risk Tolerance
                          example: LOW
                        position:
                          type: string
                          description: Position
                          example: AUDITOR
                        net_worth:
                          type: integer
                          description: Net Worth
                          example: 62500
                        marital_status:
                          type: string
                          description: Martial Status
                          example: MARRIED
                        liquid:
                          type: integer
                          description: User's Liquidity Amount
                          example: 12500
                        goal:
                          type: string
                          description: Goal
                          example: FREQUENT
                        experience:
                          type: string
                          description: Experience
                          example: NONE
                        employment_type:
                          type: string
                          description: Employment Type
                          example: AGRICULTURE
                        company:
                          type: string
                          description: Company
                          example: Phil Technologies LTD.
      responses:
        '200':
          '401':
            description: Token has expired or invalid token
            content:
              application/json:
                schema:
                  title: Unauthorized response
                  required:
                    - message
                  type: object
                  properties:
                    message:
                      type: string
                      description: Unauthorized/Invalid Token
                  description: Token is invalid or have expired
          description: Request processing
          content:
            application/json:
              schema:
                title: Request processing
                required:
                  - message
                type: object
                properties:
                  message:
                    type: string
                    description: Request processing
                    example: Your request is being processed
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
  /api/profile:
    get:
      tags:
        - Account Management
      summary: View User Profile
      description: >
        Retrieve comprehensive user profile information including account
        restrictions statuses.
      operationId: Web.Api.ProfileController.profile
      parameters:
        - name: content-type
          in: header
          description: Acceptable content type
          example: application/json
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API consumer token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Token have expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
  /api/investment_profile:
    get:
      tags:
        - Account Management
      summary: View User Investment Profile
      description: >
        Access detailed investment profile information and brokerage account
        details.
      operationId: Web.Api.ProfileController.investment_profile
      parameters:
        - name: content-type
          in: header
          description: Acceptable content type
          example: application/json
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API consumer token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User Investment Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentProfileResponse'
        '401':
          description: Token have expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
  /bamboo/webhook:
    post:
      tags:
        - Deposits
      summary: Create Deposit
      description: >
        To make a deposit, you send a notification request with the necessary
        details to credit the user's brokerage account. Upon receiving the
        request, a record is created in our system and verification checks are
        performed to confirm the deposit source.


        Verification is carried out using an endpoint you provide to our
        integration team during account setup. Once the deposit is verified, the
        specified amount is credited to the user's brokerage account, and
        deposit status events are sent via Google Pub/Sub. (see details under
        [events section](#section/Deposit-Event))


        ### Verification Endpoint Requirements:

        - **Request Type:** GET

        - **URL Pattern:** THE_URL/deposit/status/YOUR_UNIQUE_REFERENCE

        - **Authentication:** Static hash in headers (share this hash with
        Bamboo along with your verification URL)


        #### Example JSON Webhook Response:
            {
              "data": {
                "status": "settled", // or "failed"
                "currency": "NGN",
                "amount": 30000.00
              },
              "status": "settled" // or "failed"  
            }
        **NB:** You can also  monitor all deposit activity through the <a
        href="http://pbb.investbamboo.com/"> PBB Dashboard</a>.
      operationId: Web.Api.TransactionController.webhook
      parameters:
        - name: content-type
          in: header
          description: Acceptable content type
          example: application/json
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
      requestBody:
        description: Deposit request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bamboowebhook'
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: string
                description: No response body for this endpoint
                example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                title: Bad request
                required:
                  - message
                type: object
                properties:
                  message:
                    type: string
                    description: Bad request
                    example: Bad request
                description: Bad request
        '422':
          description: Incomplete Parameters
          content:
            application/json:
              example:
                message: Error Message
              schema:
                $ref: '#/components/schemas/ErrorChangesetResponse'
  /api/tenant/deposit:
    get:
      tags:
        - Deposits
      summary: Fetch All Deposits
      description: >
        Paginated list of all user deposits with date range filtering and status
        information
      operationId: Web.Api.Tenant.TenantDepositController.index
      parameters:
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Number of requested results default=20
          schema:
            type: string
        - name: next_token
          in: query
          description: Next token for pagination
          schema:
            type: integer
        - name: start_date
          in: query
          description: Unix datetime stamp
          schema:
            type: string
        - name: end_date
          in: query
          description: Unix datetime stamp
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDepositsPaginationResponse'
        '401':
          description: Token have expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/tenant/deposit/{id}:
    get:
      tags:
        - Deposits
      summary: Fetch User-Specific Deposits
      description: Individual user deposits for performance tracking
      parameters:
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Number of requested results default=20
          schema:
            type: string
        - name: next_token
          in: query
          description: Next token for pagination
          schema:
            type: integer
        - name: start_date
          in: query
          description: Unix datetime stamp
          schema:
            type: string
        - name: end_date
          in: query
          description: Unix datetime stamp
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDepositsPaginationResponse'
        '401':
          description: Token have expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/tenant/deposit/status/{txref}:
    get:
      tags:
        - Deposits
      summary: Deposit Status Check
      description: Real-time status updates for specific deposit transactions
      parameters:
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositStatus'
        '401':
          description: Token have expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/tenant_brokerage_withdraw:
    post:
      tags:
        - Withdrawals
      summary: Create Withdrawal
      description: >
        Withdrawal requests follow a similar verification flow as deposits. You
        send a notification request with the necessary details to debit the
        user's brokerage account, we verify that the user has the amount
        requested. 

        Once verified, the specified amount is deducted from the user's
        brokerage account, and withdrawal status events are sent via Google
        Pub/Sub. 


        Offline settlement happens between our teams using established
        procedures. (see event details under [withdrawal status
        events](#section/Withdrawal-Event))
      operationId: Web.Api.WithdrawController.tenant_brokerage_withdraw_ngn
      parameters:
        - name: content-type
          in: header
          description: Acceptable content type
          example: application/json
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
      requestBody:
        description: tenant withdraw body parameter for NGN
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantBrokerageWithdrawBody'
      responses:
        '200':
          description: Withdrawal requested
          content:
            application/json:
              schema:
                type: string
                description: No response body for this endpoint
                example: ''
        '401':
          description: Token has expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '422':
          description: Incomplete Parameters
          content:
            application/json:
              example:
                message: Error Message
              schema:
                $ref: '#/components/schemas/ErrorChangesetResponse'
      x-codegen-request-body-name: body
  /api/tenant/withdraws:
    get:
      tags:
        - Withdrawals
      summary: Fetch All Withdrawals
      description: |
        Complete withdrawal history with date filtering
      parameters:
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Number of requested results default=20
          schema:
            type: string
        - name: next_token
          in: query
          description: Next token for pagination
          schema:
            type: integer
        - name: start_date
          in: query
          description: Unix datetime stamp
          schema:
            type: string
        - name: end_date
          in: query
          description: Unix datetime stamp
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantWithdrawsPaginationResponse'
        '401':
          description: Token have expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/tenant/withdraw/{id}:
    get:
      tags:
        - Withdrawals
      summary: Fetch User Withdrawals
      description: |
        Individual user withdrawal history for performance tracking
      parameters:
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Number of requested results default=20
          schema:
            type: string
        - name: next_token
          in: query
          description: Next token for pagination
          schema:
            type: integer
        - name: start_date
          in: query
          description: Unix datetime stamp
          schema:
            type: string
        - name: end_date
          in: query
          description: Unix datetime stamp
          schema:
            type: string
        - name: id
          in: path
          description: User ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantWithdrawsPaginationResponse'
        '401':
          description: Token have expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/tenant/withdraw/status/{reference}:
    get:
      tags:
        - Withdrawals
      summary: Withdrawal Status Check
      description: |
        Real-time status checking for specific withdrawal transactions
      operationId: Web.Api.Tenant.WithdrawController.withdraw_status
      parameters:
        - name: content-type
          in: header
          description: Acceptable content type
          example: application/json
          required: true
          schema:
            type: string
        - name: accept-language
          in: header
          description: Acceptable language; 'en' for English
          example: en
          required: true
          schema:
            type: string
        - name: x-user-id
          in: header
          description: Required for user authentication
          required: true
          schema:
            type: string
        - name: x-subject-type
          in: header
          description: For user request -> 'tenant'.
          required: true
          schema:
            type: string
        - name: x-client-token
          in: header
          description: API Consumer Authorisation Token
          required: true
          schema:
            type: string
        - name: x-request-source
          in: header
          description: The tenant's username
          required: true
          schema:
            type: string
        - name: reference
          in: path
          description: withdrawal reference
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawStatusResponse'
        '401':
          description: Token have expired or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/tenant/themes:
    get:
      tags:
        - Featured Themes
      summary: Fetch List of Themes
      description: >-
[...]
